:root {
    --ghost-white: hsla(227, 100%, 98%, 1);
    --gunmetal: hsla(180, 7%, 16%, 1);
    --fern-green: hsla(125, 26%, 39%, 1);
    --mountbatten-pink: hsla(287, 10%, 53%, 1);
}

body {
    font-size: 3.9vh;
    line-height: 5vh;
    background-image: linear-gradient(-30deg, var(--fern-green), var(--mountbatten-pink));
    color: var(--ghost-white);
    font-family: 'League Spartan', sans-serif;
}

.name {
    text-shadow: 0.4vh 0.4vh 0px var(--gunmetal);
    font-size: 10vh;
    font-family: 'League Spartan', sans-serif;
    color: var(--ghost-white);
    letter-spacing: 0.05em;
    transform: skewX(-5deg)
}

.placard {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: auto;
    width: 80%;
}