:root {
    --ghost-white: hsla(227, 100%, 98%, 1);
    --gunmetal: hsla(180, 7%, 16%, 1);
    --fern-green: hsla(125, 26%, 39%, 1);
    --mountbatten-pink: hsla(287, 10%, 53%, 1);
}

body {
    background-color: var(--ghost-white);
    color: var(--gunmetal);
    font-family: 'League Spartan', sans-serif;
}